<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goblin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>Goblin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,335},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>Goblin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,677},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>Goblin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,927},{71,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,81}}</string>
                <key>sourceSize</key>
                <string>{71,81}</string>
            </dict>
            <key>Goblin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1008},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>Goblin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1084},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>Goblin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,595},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>Goblin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,843},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>Goblin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,513},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>Goblin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,759},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>Goblin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>Goblin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,167},{99,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,84}</string>
            </dict>
            <key>Goblin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,251},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>Goblin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{101,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Goblin.png</string>
            <key>size</key>
            <string>{128,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f76d74529835339f0fd5cf9a235635aa$</string>
            <key>textureFileName</key>
            <string>Goblin.png</string>
        </dict>
    </dict>
</plist>
