<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Soldier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,958},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>Soldier_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{82,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{82,69}</string>
            </dict>
            <key>Soldier_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,157},{87,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,75}}</string>
                <key>sourceSize</key>
                <string>{87,75}</string>
            </dict>
            <key>Soldier_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{87,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,78}}</string>
                <key>sourceSize</key>
                <string>{87,78}</string>
            </dict>
            <key>Soldier_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{87,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,79}}</string>
                <key>sourceSize</key>
                <string>{87,79}</string>
            </dict>
            <key>Soldier_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,301},{82,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,65}}</string>
                <key>sourceSize</key>
                <string>{82,65}</string>
            </dict>
            <key>Soldier_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{81,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,65}}</string>
                <key>sourceSize</key>
                <string>{81,65}</string>
            </dict>
            <key>Soldier_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,547},{75,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>Soldier_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,905},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>Soldier_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,485},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>Soldier_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,431},{76,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>Soldier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,845},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>Soldier_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,643},{71,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,45}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>Soldier_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,606},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>Soldier_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,809},{63,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,36}}</string>
                <key>sourceSize</key>
                <string>{63,36}</string>
            </dict>
            <key>Soldier_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,807},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>Soldier_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,0},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Soldier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,841},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>Soldier_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,961},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>Soldier_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,902},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>Soldier_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,748},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>Soldier_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,748},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
            <key>Soldier_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,905},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>Soldier_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,688},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Soldier.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab56f0a103bdf3b9651a02c2df89b7ad$</string>
            <key>textureFileName</key>
            <string>Soldier.png</string>
        </dict>
    </dict>
</plist>
