<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BossAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,0},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,0},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,0},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,0},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,0},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,435},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,435},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,435},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,435},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,435},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,435},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BossAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,435},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,435},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BossAttack_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,870},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>BossAttack_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,870},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>BossAttack_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,870},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>BossAttack_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,870},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>BossAttack_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,870},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>BossAttack_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,870},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BossAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,870},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,870},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,870},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,870},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1305},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>BossAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1305},{291,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,435}}</string>
                <key>sourceSize</key>
                <string>{291,435}</string>
            </dict>
            <key>召唤小怪技能.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1305},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossAttack.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a8990ad8d9f98a40ab4d2f6801d1c39$</string>
            <key>textureFileName</key>
            <string>BossAttack.png</string>
        </dict>
    </dict>
</plist>
