<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,0},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,0},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,0},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,0},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,0},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,0},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,239},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,239},{213,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,202}}</string>
                <key>sourceSize</key>
                <string>{213,202}</string>
            </dict>
            <key>Boss_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,239},{213,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,202}}</string>
                <key>sourceSize</key>
                <string>{213,202}</string>
            </dict>
            <key>Boss_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,239},{213,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,202}}</string>
                <key>sourceSize</key>
                <string>{213,202}</string>
            </dict>
            <key>Boss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,239},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,239},{213,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,202}}</string>
                <key>sourceSize</key>
                <string>{213,202}</string>
            </dict>
            <key>Boss_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,239},{213,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,202}}</string>
                <key>sourceSize</key>
                <string>{213,202}</string>
            </dict>
            <key>Boss_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,239},{213,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,202}}</string>
                <key>sourceSize</key>
                <string>{213,202}</string>
            </dict>
            <key>Boss_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,478},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,478},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,478},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,478},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,478},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,478},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,710},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,710},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,710},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,710},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,710},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,710},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,949},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,949},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,949},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,949},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,949},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,949},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1181},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1181},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1181},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1181},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1181},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1181},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1420},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1420},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1420},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1420},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1420},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1420},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1659},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1659},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1659},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1659},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1659},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1659},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1891},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1891},{324,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,232}}</string>
                <key>sourceSize</key>
                <string>{324,232}</string>
            </dict>
            <key>Boss_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1891},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1891},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1891},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>Boss_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1891},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Boss.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beceb5221f1908006a810f7449d56f64$</string>
            <key>textureFileName</key>
            <string>Boss.png</string>
        </dict>
    </dict>
</plist>
